* {
    margin: o;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}
a {
    text-decoration: none;
      }
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #003340;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
    z-index: 10;
  }
  
  .nav-grid {
    display: flex;
    margin-right: 2rem;
  }
  
 
  
  .nav-grid a {
    display: block;
    font-size: 1rem;
    padding: 1.7rem;
    color: white;

  }
  
  .nav-grid a:hover {
    background: #0099BF;
  }

.header {
    color: #003340;
    background:#00CCFF;
    background-size: cover;
    height: 100vh;
}
/*.header::after {
    content: "";
    height: 120vh;
    width: 100%;
    background-image: url(../img/background-2462431_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: block;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: all 1000ms;
}
.header:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.header:hover .header-content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}*/
.header-content {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-top: 140px;
    margin-left: -145px;
    text-align: center;
    width: 300px;
    height: 350px;



}

.header-content .title {
width: 38rem;
text-align: center;
margin-left: -145px;
}
.header-content .logo {
    height: 150px;
    width: 150px;
}
.header-content .fas {
    margin-top: 2rem;
}
.title {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
}
.text {
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 1.3rem;
}
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;

}
.project-image {
        max-height: 12rem;
        max-width: 13rem;
        object-fit: cover;

      }


.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    }
    
.text-center {
    text-align: center;
    margin: auto;

}
.bg-light {
    background: #006680;
}
.bg-dark {
    background: #00B8E6;
}
 .projects {
     padding: 3rem 0;
     
 }
 .contacto {
    padding: 4rem 0;
        
}
.contacto a {
    color: ivory;
}
.footer {
    padding: 2rem 0;
    color: #00CCFF;
}
.footer p {
margin: 0;

}
.bg-footer {
    background-color: #003340;

}
@media (max-width: 560px) {
    .nav {
      justify-content: center;
      
    }
  
    .nav-grid {
      margin: 0 1rem;

    }
  }

@media (max-width: 560px) {
    .nav-grid {
        display: flex;
        margin-right: 1rem;
      }
      
     
      
      .nav-grid a {
        font-size: 1rem;
        margin: 0.5rem;
        padding: 0.5rem;
    
      }

    .header::after {
       height: 100vh; 
    }
    .header-content{
        top: 10%;
        margin-top: 25%;
        overflow: hidden;
        
    }
    .header-content .logo {
        height: 100px;
        width: 100px;
    }
    .title {
        font-size: 1.3rem;
        margin: 3rem;  
        text-align: center;
        max-width: 37rem;
    }
    .text {
        font-size: 1rem;
    }
    .grid-4 {
        grid-template-columns: 1fr;

    }
    .projects {
        padding: 5rem 1rem;
    }
    .contacto {
        padding: 5rem 1rem;
    }
.header::after {
    filter: none;
}
    .header:hover::after {
    filter: none;
}
.header:hover .header-content {
    filter: none;
}
}
@media (max-width: 500px) {
    
}




/* Color Theme Swatches in Hex */
.Interacción-1-hex { color: #3C038C; }
.Interacción-2-hex { color: #0E0326; }
.Interacción-3-hex { color: #05DBF2; }
.Interacción-4-hex { color: #F2B705; }
.Interacción-5-hex { color: #F28705; }
/* Color Theme Swatches in Hex */
.Ilustración-1a-hex { color: #01403A; }
.Ilustración-2a-hex { color: #038C73; }
.Ilustración-3a-hex { color: #03A678; }
.Ilustración-4a-hex { color: #04D98B; }
.Ilustración-5a-hex { color: #AFF21D; }
/* Color Theme Swatches in Hex */
.Onload-Development-1-hex { color: #0099BF; }
.Onload-Development-2-hex { color: #006680; }
.Onload-Development-3-hex { color: #00CCFF; }
.Onload-Development-4-hex { color: #003340; }
.Onload-Development-5-hex { color: #00B8E6; }
